<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%= movieData.title % - Rancid Tomatoes</title>
    <link href="/styles/movie.css" type="text/css" rel="stylesheet">
    <link href="/images/rotten.gif" type="image/gif" rel="shortcut icon" />
</head>
<body>
    <div class="banner">
        <img src="/images/banner.png" alt="Rancid Tomatoes" />
    </div>
    
    <h1>%= movieData.title % (%= movieData.year %)</h1>
    
    <div class="container">
        <div class="rating-section">
            <div class="Rating">
                <img src="/images/%= movieData.rating >= 60 ? 'freshbig.png' : 'rottenbig.png' %>" alt="Rating" />
                <span>%= movieData.rating %</span>
            </div> 
        </div>  

        <div class="content">
            <div class="left">
                % movieData.reviews.slice(0, Math.ceil(movieData.reviews.length / 2)).forEach(function(review) { %>
                    <div class="review">
                        <p>
                            <img src="/images/%= review.isFresh ? 'fresh.gif' : 'rotten.gif' %>" alt="Review" />
                            <q>%= review.text %</q>
                        </p>
                        <div class="review-left">
                            <p>
                                <img src="/images/critic.gif" alt="Critic" />
                                %= review.critic %<br />
                                %= review.source %
                            </p>
                        </div>
                    </div>
                 }) 
            </div>
            
            <div class="mid">
                movieData.reviews.slice(Math.ceil(movieData.reviews.length / 2)).forEach(function(review) { 
                    <div class="review">
                        <p>
                            <img src="/images/%= review.isFresh ? 'fresh.gif' : 'rotten.gif' %>" alt="Review" />
                            <q>%= review.text %</q>
                        </p>
                        <div class="review-mid">
                            <p>
                                <img src="/images/critic.gif" alt="Critic" />
                                %= review.critic %<br />
                                %= review.source %
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
            
            <div class="right">
                <div>
                    <img src="/movies/%= movieData.id %>/poster.png" alt="Movie Poster">
                </div>
                <div class="right-cont">
                    <dl>
                        <dt>Starring</dt>
                        <dd>%= movieData.cast.join('<br>') %</dd>

                        <dt>Director</dt> 
                        <dd>%= movieData.director %</dd>

                        <dt>Rating</dt>
                        <dd>%= movieData.mpaaRating %</dd>

                        <dt>Theatrical Release</dt>
                        <dd>%= movieData.releaseDate %</dd>

                        <dt>Movie Synopsis</dt>
                        <dd>%= movieData.synopsis %</dd>

                        <dt>Runtime</dt>
                        <dd>%= movieData.runtime % mins</dd>

                        <dt>Genre</dt>
                        <dd>%= movieData.genre %</dd>

                        <dt>Box Office</dt>
                        <dd>$%= movieData.boxOffice % million</dd>

                        <dt>Links</dt>
                        <dd>
                            <ul>
                                % movieData.links.forEach(function(link) { %
                                    <li><a href="%= link.url %>">%= link.name %</a></li>
                                 }) 
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        (1-%= movieData.reviews.length %) of %= movieData.totalReviews %
    </div>
</body>
</html>